.App {
  display : flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* position: fixed; */
  
  
  

}

.maindiv
{

  height: 100vw;
  width: 100vw;

}

.purple{
  background-color: purple;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.black{
  background-color: black;
  
}
.pink{
  background-color: pink;
}

.ofa
{
  margin : 4px 4px 4px 4px;
  border-radius: 28px;
  padding : 3px 3px 3px 3px;
  margin :3px 3px 3px 3px;

  text-decoration:double;
  color: white;
  text-shadow: 30px;

}

.navbartype
{
  display: flex;
  /* flex-wrap:wrap; */
  justify-content: center;
  align-items: center; 
  
  background-color: white;
  border-radius: 10%;
  border : 2px solid black;
  padding :3px 3px 3px 3px;
}